.product-list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 250px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(121, 120, 126, 0.1);
  text-decoration: none;
  transition: all 0.3s linear;
}
.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(41, 41, 238, 0.7);
}

.product-card img {
  width: 200px;
  height: 300px;
  object-fit: fill;
  /* height: auto; */
  margin-bottom: 8px;
  border-radius: 4px;
}

.product-card-details {
  text-align: center;
}

.pruduct-card-details h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.product-card-details p {
  font-size: 14px;
  color: #888;
}
