nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.logo a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.dropdown a svg {
  margin-left: 0.5rem;
}
