.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.logo {
  height: 50px;
  width: 100px;
  margin-right: 20rem;
}

.search-container {
  display: flex;
  align-items: center;
  width: 30%;
  flex-grow: 1;
}

/* .search-bar-container {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
} */

.filter-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 200px;
}

.dropdown {
  border: 2px solid #ccc;
  border-radius: 0 25px 25px 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.2s ease-in-out;
  background-color: white;
}

.dropdown:focus {
  background-color: #f5f5f5;
}
