.timeline-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;

  
}

.timeline-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.timeline-button {
  position: relative;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  width: 9rem;
}

.timeline-button.active {
  background-color: #c0392b;
  color: #fff;
}

/* .timeline-button.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  height: 2px;
  width: 10px;
  background-color: #c0392b;
  transform: translateY(-50%);
}

.timeline-button.active ~ .timeline-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  height: 2px;
  width: calc(100% + 20px);
  background-color: #c0392b;
  transform: translateY(-50%);
}

.timeline-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 60px); 
  width: 2px;
  background-color: #c0392b;
} */

.timeline-content {
  display: flex;
  justify-content: center;
  align-items: center;
}